# Copyright 2021 Chainguard, Inc.
# SPDX-License-Identifier: Apache-2.0

apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  namespace: fulcio-system
  name: secret-operator
rules:
- apiGroups: [""] # "" indicates the core API group
  resources: ["secrets"]
  verbs: ["create", "get", "update"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: secret-operator
  namespace: fulcio-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: secret-operator
subjects:
- kind: ServiceAccount
  name: createcerts
  namespace: fulcio-system
