version: 2
updates:
- package-ecosystem: docker
  directories:
    - "/"
    - "/config/**/*"
    - "/actions/setup-sigstore-env"
  schedule:
    interval: weekly
  ignore:
    - dependency-name: "cloud-sql-connectors/cloud-sql-proxy*"
  groups:
    docker-deps:
      patterns:
        - "*"
- package-ecosystem: docker
  directories:
    - "/deps"
  schedule:
    interval: weekly
  allow:
    - dependency-name: "cloud-sql-connectors/cloud-sql-proxy*"
  labels:
    - "dependencies"
    - "docker"
    - "cloud-sql-proxy"

- package-ecosystem: gomod
  directories:
    - "/"
    - "/tools/*"
    - "/hack/"
  schedule:
    interval: weekly
  open-pull-requests-limit: 10
  groups:
    go-deps:
      patterns:
        - "*"

- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: weekly
  groups:
    action-deps:
      patterns:
        - "*"

