dist/
imagerefs*
testimagerefs
release-*.yaml
testrelease.yaml
kind.yaml
.vscode/*
prober
/cloudsqlproxy
/createcertchain
/createcerts
/createctconfig
/createdb
/createsecret
/rekor-createsecret
/createtree
/getoidctoken
/managectroots
/server
/updatetree
/verifyfulcio
