---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: tuf
  namespace: tuf-system
---
apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  namespace: tuf-system
  name: tuf
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/min-scale: "1"
    spec:
      serviceAccountName: tuf
      containers:
      - image: ko://github.com/sigstore/scaffolding/tools/tuf/cmd/tuf/server
        name: tuf
        args: [
          "--file-dir=/var/run/tuf-secrets",
        ]
        ports:
        - containerPort: 8080 # tuf remote repo service
        env:
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        volumeMounts:
        - name: tuf-secrets
          mountPath: "/var/run/tuf-secrets"
          readOnly: true
      volumes:
      - name: tuf-secrets
        secret:
          secretName: tuf-secrets
