# Don't commit terraform modules or state or
# variables from local dev environment.
.terraform.lock.hcl
.terraform
terraform.tfvars
remote-state.tf
**/.terraform/**
**/*.tfstate.backup
**/*.tfstate
*.out
