---
apiVersion: v1
kind: Service
metadata:
  name: mysql-trillian
  namespace: trillian-system
spec:
  ports:
    - port: 3306
  selector:
    app: mysql-trillian
  clusterIP: None
---
apiVersion: v1
kind: Pod
metadata:
  name: mysql-trillian
  namespace: trillian-system
  labels:
    app: mysql-trillian
spec:
  containers:
    - image: gcr.io/trillian-opensource-ci/db_server@sha256:536705b7ea687855a5fbe4e84d41906972d4ac7a1a52bc419642f212b74f3bab
      name: mysql
      env:
        - name: MYSQL_ROOT_PASSWORD
          value: trillian
        - name: MYSQL_DATABASE
          valueFrom:
            secretKeyRef:
              name: trillian-database
              key: database-name
        - name: MYSQL_USER
          valueFrom:
            secretKeyRef:
              name: trillian-database
              key: username
        - name: MYSQL_PASSWORD
          valueFrom:
            secretKeyRef:
              name: trillian-database
              key: password
      ports:
        - containerPort: 3306
          name: mysql
