apiVersion: batch/v1
kind: Job
metadata:
  name: inactive-tree
  namespace: trillian-system
spec:
  ttlSecondsAfterFinished: 600
  template:
    spec:
      restartPolicy: Never
      containers:
      - name: cosign
        image: ko://github.com/sigstore/scaffolding/tools/trillian/cmd/trillian/updatetree
        args: [
          "--tree_id=0",
        ]

