kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: rekor-tiles-storage
  namespace: rekor-system
spec:
  storageClassName: standard
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
