---
apiVersion: batch/v1
kind: Job
metadata:
  name: createctconfig
  namespace: ctlog-system
spec:
  # This number looks crazy, but on k8s 1.23 there does not seem to be
  # exponential backoff, so just keep on trying. For any other version
  # won't run this far by any chance. Also with activeDeadlineSeconds we're
  # capping this to 5 minutes.
  backoffLimit: 90
  activeDeadlineSeconds: 300
  ttlSecondsAfterFinished: 600
  template:
    spec:
      serviceAccountName: createctconfig
      restartPolicy: Never
      automountServiceAccountToken: true
      containers:
      - name: createctconfig
        image: ko://github.com/sigstore/scaffolding/tools/ctlog/cmd/ctlog/createctconfig
        args: [
          "--configmap=ctlog-config",
          "--secret=ctlog-secret"
        ]
        env:
          - name: NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
