# Copyright 2021 Chainguard, Inc.
# SPDX-License-Identifier: Apache-2.0

apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  namespace: ctlog-system
  name: cm-operator
rules:
- apiGroups: [""] # "" indicates the core API group
  resources: ["configmaps"]
  resourceNames: ["ctlog-config"]
  verbs: ["get", "update"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: role-cm-updater
  namespace: ctlog-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: cm-operator
subjects:
- kind: ServiceAccount
  name: createtree
  namespace: ctlog-system
