---
apiVersion: batch/v1
kind: Job
metadata:
  name: createtree
  namespace: ctlog-system
spec:
  backoffLimit: 30
  ttlSecondsAfterFinished: 600
  template:
    spec:
      serviceAccountName: createtree
      restartPolicy: Never
      automountServiceAccountToken: true
      containers:
      - name: createtree
        image: ko://github.com/sigstore/scaffolding/cmd/trillian/createtree
        args: [
          "--namespace=ctlog-system",
          "--configmap=ctlog-config",
          "--display_name=ctlogtree"
        ]
