apiVersion: batch/v1
kind: Job
metadata:
  name: createdb
  namespace: trillian-system
spec:
  # This number looks crazy, but on k8s 1.23 there does not seem to be
  # exponential backoff, so just keep on trying. For any other version
  # won't run this far by any chance. Also with activeDeadlineSeconds we're
  # capping this to 5 minutes.
  backoffLimit: 90
  activeDeadlineSeconds: 300
  ttlSecondsAfterFinished: 600
  template:
    spec:
      serviceAccountName: createdb
      restartPolicy: Never
      containers:
      - name: createdb
        image: ko://github.com/sigstore/scaffolding/tools/trillian/cmd/trillian/createdb
        args: [
        "--mysql_uri=$(MYSQL_USER):$(MYSQL_PASSWORD)@tcp($(DATABASE_HOSTNAME):3306)/",
        "--db_name=trillian"
        ]
        env:
          - name: DATABASE_NAME
            valueFrom:
              secretKeyRef:
                name: trillian-client
                key: name
          - name: MYSQL_USER
            valueFrom:
              secretKeyRef:
                name: trillian-client
                key: username
          - name: MYSQL_PASSWORD
            valueFrom:
              secretKeyRef:
                name: trillian-client
                key: password
          - name: DATABASE_HOSTNAME
            valueFrom:
              secretKeyRef:
                name: trillian-client
                key: host
