name: Cloud-SQL-Proxy update

on:
  pull_request:
    types: [labeled]

permissions: {}

jobs:
  update:
    name: Update cloud-sql-proxy
    runs-on: ubuntu-latest
    if: github.event.label.name == 'cloud-sql-proxy'
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
          persist-credentials: true

      - name: Update .ko.yaml with latest release version
        run: |
          export CLOUD_SQL_PROXY_VERSION="$(awk -F'[:@]' '/FROM gcr.io\/cloud-sql-connectors\/cloud-sql-proxy/{print $2; exit}' deps/Dockerfile.deps)"
          echo "Detected cloud-sql-proxy ${CLOUD_SQL_PROXY_VERSION}..."

          sed -i 's/\(cloud-sql-proxy:\).*/\1'${CLOUD_SQL_PROXY_VERSION}'/' .ko.yaml

      - name: Amend Dependabot PR
        env:
          PULL_REQUEST_HEAD_REF: ${{ github.event.pull_request.head.ref }}
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add -A
          git commit -sam "Bumping cloud-sql-proxy version in .ko.yaml"
          git push origin HEAD:${PULL_REQUEST_HEAD_REF}
