name: Create Tink Keyset Test

on:
  pull_request:
    branches:
      - main
    paths:
    - 'tools/create-tink-keyset/cmd/create-tink-keyset/**'

permissions: {}

jobs:
  create-tink-keyset-test:
    name: 'Build Create Tink Keyset'
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: 'Checkout'
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: 'go.work'
          check-latest: true
          cache: false

      - name: Create Tink Keyset build
        id: create-tink-keyset-test
        run: go build ./tools/create-tink-keyset/cmd/create-tink-keyset
