name: Create Tink Keyset Test

on:
  pull_request:
    branches:
      - main
    paths:
    - 'cmd/create-tink-keyset/**'

permissions:
  contents: read

jobs:
  create-tink-keyset-test:
    name: 'Build Create Tink Keyset'
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: 'Checkout'
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: 'go.mod'
          check-latest: true

      - name: Create Tink Keyset build
        id: create-tink-keyset-test
        run: go build ./cmd/create-tink-keyset
