name: Prober Unit Test

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
    - 'cmd/prober/**'

permissions:
  contents: read

jobs:
  prober-test:
    name: 'Prober test'
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: 'Checkout'
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up Go
        uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
        with:
          go-version-file: 'go.mod'
          check-latest: true

      - name: Prober test
        id: prober-test
        run: go run ./cmd/prober --one-time --write-prober --logStyle dev -tsa-url https://timestamp.sigstage.dev
