name: Prober Unit Test

on:
  workflow_dispatch:
  pull_request:
    paths:
    - 'cmd/prober/**'
  push:
    branches:
      - main
    paths:
    - 'cmd/prober/**'

permissions:
  contents: read

jobs:
  prober-test:
    name: 'Prober test'
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: 'Checkout'
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # v3.0.2

      - name: Set up Go
        uses: actions/setup-go@b22fbbc2921299758641fab08929b4ac52b32923 # v3.2.0
        with:
          go-version: 1.18
          check-latest: true
          
      - name: Prober test
        id: prober-test
        run: go run ./cmd/prober --one-time --write-prober
