name: Prober Unit Test

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
    - 'tools/prober/cmd/prober/**'
  pull_request:
    branches:
      - main
    paths:
    - 'tools/prober/cmd/prober/**'

permissions:
  contents: read

jobs:
  prober-test:
    name: 'Prober test (${{ matrix.env }})'
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    strategy:
      fail-fast: false
      matrix:
        include:
          - env: prod
            args: ""
          - env: staging
            args: "--staging"
    steps:
      - name: 'Checkout'
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: 'go.work'
          check-latest: true

      - name: Build prober test
        run: go build ./tools/prober/cmd/prober

      - name: Get test OIDC token
        uses: sigstore-conformance/extremely-dangerous-public-oidc-beacon@main

      - name: Export OIDC token
        run: |
          echo "SIGSTORE_ID_TOKEN=$(cat ./oidc-token.txt)" >> $GITHUB_ENV

      - name: Run prober test
        id: prober-test
        run: ./prober --one-time --write-prober --logStyle dev ${{ matrix.args }}
