name: test setup-sigstore-env
on:
  workflow_dispatch:
  push:
    paths:
      - 'actions/setup-sigstore-env/**'
  pull_request:
    paths:
      - 'actions/setup-sigstore-env/**'
jobs:
  test:
    name: Test Sigstore setup
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - id: setup-sigstore-env
        uses: ./actions/setup-sigstore-env
      - uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0
        with:
          cosign-release: main
      - name: Create artifact to sign
        run: head -c 128 < /dev/urandom > artifact
      - name: Run cosign sign-blob
        env:
          SIGSTORE_CT_LOG_PUBLIC_KEY_FILE: ${{ steps.setup-sigstore-env.outputs.ct-log-key }}
          OIDC_URL: ${{ steps.setup-sigstore-env.outputs.oidc-url }}
          OIDC_TOKEN: ${{ steps.setup-sigstore-env.outputs.oidc-token }}
          TRUSTED_ROOT: ${{ steps.setup-sigstore-env.outputs.trusted-root }}
          SIGNING_CONFIG: ${{ steps.setup-sigstore-env.outputs.signing-config }}
        run: |
          echo token:
          curl -f ${OIDC_URL}/token
          cosign sign-blob \
            -y \
            --bundle=bundle.json \
            --new-bundle-format=true \
            --trusted-root ${TRUSTED_ROOT} \
            --signing-config ${SIGNING_CONFIG} \
            --identity-token ${OIDC_TOKEN} \
            artifact
      - name: Run cosign verify-blob with trusted root
        run: |
          cosign verify-blob \
            --trusted-root ${TRUSTED_ROOT} \
            --bundle bundle.json \
            --new-bundle-format=true \
            --certificate-identity foo@bar.com \
            --certificate-oidc-issuer ${ISSUER_URL} \
            artifact
        env:
          TRUSTED_ROOT: ${{ steps.setup-sigstore-env.outputs.trusted-root }}
          ISSUER_URL: ${{ steps.setup-sigstore-env.outputs.issuer-url }}
