---
apiVersion: batch/v1
kind: Job
metadata:
  name: createtree
  namespace: rekor-system
spec:
  backoffLimit: 20
  ttlSecondsAfterFinished: 100
  template:
    spec:
      serviceAccountName: createtree
      restartPolicy: Never
      automountServiceAccountToken: true
      containers:
      - name: createtree
        image: ko://github.com/sigstore/scaffolding/cmd/trillian/createtree
