# Copyright 2021 Chainguard, Inc.
# SPDX-License-Identifier: Apache-2.0

apiVersion: batch/v1
kind: Job
metadata:
  name: createtree
  namespace: rekor-system
spec:
  template:
    spec:
      serviceAccountName: createtree
      restartPolicy: Never
      automountServiceAccountToken: true
      containers:
      - name: createtree
        image: ko://github.com/vaikas/sigstore-scaffolding/cmd/trillian/createtree
